<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="DbConnection" connectionString="Data Source=193.198.57.183,1433;Network Library=DBMSSOCN;Initial Catalog=STUDENTI_PIN;User ID=pin;Password=Vsmti1234!;"/>
      <add name="ApiKey" connectionString="ab53aae4"/>
      <add name="link" connectionString="https://www.omdbapi.com/?"/>
    </connectionStrings>
</configuration>